<div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="10px">

    <mat-card *ngIf="document" class="news-card">
    <mat-card-header fxLayout="column">
        <!-- div mat-card-avatar [ngStyle]="{'background': 'url(../assets/images/' + article.source.id + '.png)'}"
           class="example-header-image"></div -->
        <mat-card-title>
            {{ document.title }}
        </mat-card-title>
    </mat-card-header>
    <!-- img mat-card-image class="img-article" src="{{ article.urlToImage }}" alt="" -->
    <div class="news-subtitle">
        <span class="news-provider">{{ document.provider }}</span>
        <span class="news-cate">{{ document.category }}</span>
        <span class="news-wdate">{{ document.reporter }}</span>
        <span class="subtitle-spacer"></span>
        <span class="news-wdate">{{ document.wdate | date:'mediumDate' }}</span>
    </div>
    <mat-card-content>
      <p #content [innerHTML]="document_content"></p>
    </mat-card-content>
    <!-- mat-card-actions class="action-buttons">
        <button mat-button (click)="openAllaccordPruned()">모두 펼치기</button>
        <button mat-button (click)="closeAllaccordPruned()">모두 접기</button>
    </mat-card-actions -->
    </mat-card>

    <div *ngIf="dgraph" style="margin-top: 10px;">
        <img [attr.src]="image_path + dgraph.fname" />
    </div>

    <mat-card class="news-card" *ngFor="let sentence of sentences; index as i;">
    <mat-card-header>
        <mat-card-title>서브그래프&#9839;{{i}} (sentence)</mat-card-title>
        <mat-card-subtitle class="example-action-buttons" fxLayout="row">
            <p>{{ sentence.text }}</p>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

        <mat-accordion *ngIf="subgraphs_pruned" #accordPruned="matAccordion" class="example-headers-align news-card">
            <mat-expansion-panel *ngIf="subgraphs_pruned[i]"
                    (opened)="figurePanelState(i, 'pruned', true)" (closed)="figurePanelState(i, 'pruned', false)">
                <mat-expansion-panel-header>
                    <mat-panel-title>의존그래프 (가지치기)</mat-panel-title>
                    <mat-panel-description>nodes={{ (subgraphs_pruned[i] | async)?.nodes }}, edges={{ (subgraphs_pruned[i] | async)?.edges }}</mat-panel-description>
                </mat-expansion-panel-header>
                <div *ngIf="subgraphs_pruned[i]" style="margin-top: 10px;">
                    <img [attr.src]="image_path + (subgraphs_pruned[i] | async)?.fname" />
                </div>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion *ngIf="subgraphs_origin" #accordOrigin="matAccordion" class="example-headers-align news-card">
            <!-- mat-expansion-panel *ngIf="subgraphs_origin[i]" -->
            <mat-expansion-panel
                    (opened)="figurePanelState(i, 'origin', true)" (closed)="figurePanelState(i, 'origin', false)">
                <mat-expansion-panel-header>
                    <mat-panel-title>의존그래프 (원본)</mat-panel-title>
                    <mat-panel-description>nodes={{ (subgraphs_origin[i] | async)?.nodes }}, edges={{ (subgraphs_origin[i] | async)?.edges }}</mat-panel-description>
                </mat-expansion-panel-header>
                <div *ngIf="subgraphs_origin[i]" style="margin-top: 10px;">
                    <img [attr.src]="image_path + (subgraphs_origin[i] | async)?.fname" />
                </div>
            </mat-expansion-panel>
        </mat-accordion>

    </mat-card-content>
    </mat-card>

<div>
