<div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="10px">

    <mat-card *ngIf="document" class="news-card" [ngStyle.md]="{'min-width': '1000px'}">
    <mat-card-header fxLayout="column">
        <mat-card-title>
            {{ document.title }}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="news-subtitle">
            <span class="news-provider">{{ document.provider }}</span>
            <span class="news-cate">{{ document.category }}</span>
            <span class="news-wdate">{{ document.reporter }}</span>
            <span class="subtitle-spacer"></span>
            <span class="news-wdate">{{ document.wdate | date:'mediumDate' }}</span>
        </div>
        <p #content [innerHTML]="document_content" style="max-width: 1000px; margin: auto"></p>
    </mat-card-content>
    </mat-card>


    <mat-card *ngIf="document" class="news-card" [ngStyle.md]="{'min-width': '1000px'}">
    <mat-card-content class="large" style="height: 60vh; margin: 10px; border: 2px solid black;">

        <div #mainVisContainer fxFill>
        </div>

    </mat-card-content>
    </mat-card>


    <div #subVisContainers fxLayout="column" fxLayoutGap="10px">
        <mat-card class="news-card" *ngFor="let sentence of sentences; index as i;" [ngStyle.md]="{'min-width': '1000px'}">
        <mat-card-header>
            <mat-card-title>문장&#9839;{{i}} (sentence)</mat-card-title>
            <mat-card-subtitle class="example-action-buttons" fxLayout="row">
                <p style="max-width: 960px;">{{ sentence.text }}</p>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="large" style="height: 25vh; margin: 10px; border: 2px solid black;">

            <div id="subVisContainer" fxLayout="column" fxFill>
            </div>

        </mat-card-content>
        </mat-card>
    </div>

</div>
