<div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="10px">

    <mat-card *ngIf="document" class="news-card">
    <mat-card-header fxLayout="column">
        <!-- div mat-card-avatar [ngStyle]="{'background': 'url(../assets/images/' + article.source.id + '.png)'}"
           class="example-header-image"></div -->
        <mat-card-title>
            {{ document.title }}
        </mat-card-title>
    </mat-card-header>
    <!-- img mat-card-image class="img-article" src="{{ article.urlToImage }}" alt="" -->
    <div class="news-subtitle">
        <span class="news-provider">{{ document.provider }}</span>
        <span class="news-cate">{{ document.category }}</span>
        <span class="news-wdate">{{ document.reporter }}</span>
        <span class="subtitle-spacer"></span>
        <span class="news-wdate">{{ document.wdate | date:'mediumDate' }}</span>
    </div>
    <mat-card-content>
      <p #content [innerHTML]="document_content"></p>
    </mat-card-content>
    <!-- mat-card-actions class="action-buttons">
      <button mat-button><mat-icon>thumb_up_alt</mat-icon> NLP/NER(개체명)</button>
      <button mat-button><mat-icon>comment</mat-icon> 연관어(Node2Vec)</button>
      <button mat-button><mat-icon>share</mat-icon> 키워드트렌드</button>
    </mat-card-actions -->
    </mat-card>

    <mat-card class="news-card">
    <mat-card-header>
        <mat-card-title>품사(PartOfSpeech) 리스트</mat-card-title>
        <mat-card-subtitle class="example-action-buttons" fxLayout="row">
                <button mat-button (click)="openAllaccordPos()">모두 펼치기</button>
                <button mat-button (click)="closeAllaccordPos()">모두 접기</button>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    <mat-accordion #accordPos="matAccordion" *ngIf="agg_terms" class="example-headers-align news-card" multi>
        <mat-expansion-panel *ngFor="let pos of agg_terms | keyvalue">
            <mat-expansion-panel-header>
                <mat-panel-title>{{ pos_ko(pos.key)[0] }}/{{ pos.key }} ({{ pos.value.length }})</mat-panel-title>
                <mat-panel-description>{{ pos_ko(pos.key)[1] }}</mat-panel-description>
            </mat-expansion-panel-header>
            <p>
                <span *ngFor="let term of pos.value; index as i"
                    class="news-provider" style="display: inline-block; margin-right: 5px" (click)="highlight(term[0])">
                    {{ i > 0 ? ', &nbsp;' : '' }}{{ term[0] }}({{ term[1] }})
                </span>
                <!-- span class="news-provider" matBadge="1" matBadgeSize="small" matBadgeOverlap="false">Text with large badge</span -->
            </p>
        </mat-expansion-panel>
    </mat-accordion>
    </mat-card-content>
    </mat-card>

    <mat-card class="news-card">
    <mat-card-header>
        <mat-card-title>의존태그(Dependency Tag) 리스트</mat-card-title>
        <mat-card-subtitle class="example-action-buttons" fxLayout="row">
                <button mat-button (click)="openAllaccordDtag()">모두 펼치기</button>
                <button mat-button (click)="closeAllaccordDtag()">모두 접기</button>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    <mat-accordion #accordDtag="matAccordion" *ngIf="dtag_terms" class="example-headers-align news-card" multi>
        <mat-expansion-panel *ngFor="let pos of dtag_terms | keyvalue">
            <mat-expansion-panel-header>
                <mat-panel-title>{{ dtag_ko(pos.key)[0] }}/{{ pos.key }} ({{ pos.value.length }})</mat-panel-title>
                <mat-panel-description>{{ dtag_ko(pos.key)[1] }}</mat-panel-description>
            </mat-expansion-panel-header>
            <p>
                <span *ngFor="let term of pos.value; index as i"
                    class="news-provider" style="display: inline-block; margin-right: 5px" (click)="highlight(term[0])">
                    {{ i > 0 ? ', &nbsp;' : '' }}{{ term[0] }}({{ term[1] }})
                </span>
                <!-- span class="news-provider" matBadge="1" matBadgeSize="small" matBadgeOverlap="false">Text with large badge</span -->
            </p>
        </mat-expansion-panel>
    </mat-accordion>
    </mat-card-content>
    </mat-card>

    <mat-card class="news-card">
    <mat-card-header>
        <mat-card-title>개체(Entity) 리스트</mat-card-title>
        <mat-card-subtitle class="example-action-buttons" fxLayout="row">
                <button mat-button (click)="openAllaccordEntity()">모두 펼치기</button>
                <button mat-button (click)="closeAllaccordEntity()">모두 접기</button>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    <mat-accordion #accordEntity="matAccordion" *ngIf="entity_nouns" class="example-headers-align news-card" multi>
        <mat-expansion-panel *ngFor="let tag of entity_nouns | keyvalue">
            <mat-expansion-panel-header>
                <mat-panel-title>{{ entity_ko(tag.key)[0] }}/{{ tag.key }} ({{ tag.value.length }})</mat-panel-title>
                <mat-panel-description>{{ entity_ko(tag.key)[1] }}</mat-panel-description>
            </mat-expansion-panel-header>
            <p>
                <span *ngFor="let term of tag.value; index as i"
                    class="news-provider" style="display: inline-block; margin-right: 5px" (click)="highlight(term[0])">
                    {{ i > 0 ? ', &nbsp;' : '' }}{{ term[0] }}({{ term[1] }})
                </span>
                <!-- span class="news-provider" matBadge="1" matBadgeSize="small" matBadgeOverlap="false">Text with large badge</span -->
            </p>
        </mat-expansion-panel>
    </mat-accordion>
    </mat-card-content>
    </mat-card>

<div>
