.full-width-table {
  width: 100%;
}

.small-demo {
    min-height: 128px;
    padding-bottom: 40px;
    display: block;
    background-color: #eee;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}

.mat-card-content>:first-child, .mat-card>:first-child {
    margin-top: 0;
}

.mat-card-title {
    display: block;
    margin-bottom: 8px;
}
