<div #gridContainer class="grid-container">
  <mat-grid-list cols="{{ gridLayout.cols }}" rowHeight="{{ gridLayout.rowHeight }}">

    <!-- agg by month -->
    <mat-grid-tile [colspan]="gridLayout.cards[0].colspan" [rowspan]="gridLayout.cards[0].rowspan">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <span>Documents (total={{ docCount | number:'1.0':'en-US'}})</span>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item (click)="reloadChart('bar')">Reload</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content #barChartContainer class="dashboard-card-center">
            <canvas #barChart id="barChart" style="width: {{gridLayout.cards[0].width}}px; height: {{gridLayout.cards[0].height}}px;"></canvas>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="gridLayout.cards[1].colspan" [rowspan]="gridLayout.cards[1].rowspan">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <span>DF distribution (0~1000+)</span>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item (click)="reloadChart('line')">Reload</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content #lineChartContainer class="dashboard-card-center">
            <canvas #lineChart id="lineChart" style="width: {{gridLayout.cards[1].width}}px; height: {{gridLayout.cards[1].height}}px;"></canvas>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="gridLayout.cards[2].colspan" [rowspan]="gridLayout.cards[2].rowspan">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <span>Nouns ({{ selectedEntity }})</span>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item (click)="reloadChart('table')">Reload</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" style="width: 100%">
                    <!-- Position Column -->
                    <ng-container matColumnDef="noun">
                        <th class="w-100 th-center" mat-header-cell *matHeaderCellDef> Noun </th>
                        <td mat-cell *matCellDef="let col"> {{col[0]}} </td>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="sum_tf">
                        <th class="w-75 th-center" mat-header-cell *matHeaderCellDef> sum_TF </th>
                        <td mat-cell *matCellDef="let col"> {{col[1]}} </td>
                    </ng-container>
                    <!-- Weight Column -->
                    <ng-container matColumnDef="df">
                        <th class="w-75 th-center" mat-header-cell *matHeaderCellDef> DF </th>
                        <td mat-cell *matCellDef="let col"> {{col[2]}} </td>
                    </ng-container>
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="log10tf_idf">
                        <th class="w-75 th-center" mat-header-cell *matHeaderCellDef> log10_TF*IDF </th>
                        <td mat-cell *matCellDef="let col"> {{ col[3] | number:'.1-5' }} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onClickRecord(row)"></tr>
                </table>
                <mat-paginator #paginator
                    [hidePageSize]="true" [pageSize]="gridLayout.table.pageSize"
                    [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="gridLayout.cards[3].colspan" [rowspan]="gridLayout.cards[3].rowspan">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <span>Entities ({{ labelsSize }} types)</span>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item (click)="reloadChart('pie')">Reload</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content #pieChartContainer class="dashboard-card-center">
            <canvas #pieChart id="pieChart" style="width: {{gridLayout.cards[3].width}}px; height: {{gridLayout.cards[3].height}}px;"></canvas>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>
