<div #gridContainer class="grid-container">
  <mat-grid-list cols="{{ gridLayout.cols }}" rowHeight="{{ gridLayout.rowHeight }}">

    <!-- agg by month -->
    <mat-grid-tile [colspan]="gridLayout.cards[0].colspan" [rowspan]="gridLayout.cards[0].rowspan">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <span>Documents by Month</span>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item (click)="reloadChart('bar')">Reload</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content #chartContainer class="dashboard-card-content">
            <canvas #barChart id="barChart" width="1120" height="240"></canvas>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="gridLayout.cards[1].colspan" [rowspan]="gridLayout.cards[1].rowspan">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <span>DF distribution (0~1000+)</span>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item (click)="reloadChart('line')">Reload</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
            <canvas #lineChart id="lineChart" width="530" height="240"></canvas>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="gridLayout.cards[2].colspan" [rowspan]="gridLayout.cards[2].rowspan">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <span>Summary</span>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item (click)="reloadChart(selectedEntity)">Reload</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" style="width: 100%">
                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                    <!-- Weight Column -->
                    <ng-container matColumnDef="weight">
                        <th mat-header-cell *matHeaderCellDef> Weight </th>
                        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                    </ng-container>
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="symbol">
                        <th mat-header-cell *matHeaderCellDef> Symbol </th>
                        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator #paginator
                    [hidePageSize]="gridLayout.table.hidePageSize" [pageSize]="gridLayout.table.pageSize"
                    [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="gridLayout.cards[3].colspan" [rowspan]="gridLayout.cards[3].rowspan">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <span>Entities (14 types)</span>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item (click)="reloadChart('pie')">Reload</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
            <canvas #pieChart id="pieChart" width="530" height="240"></canvas>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>
