<div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="10px">

    <mat-card class="news-card" [ngStyle.md]="{'min-width': '1000px'}">
    <!-- mat-card-header fxLayout="column">
        <mat-card-title>Query</mat-card-title>
    </mat-card-header -->
    <mat-card-subtitle style="margin-bottom: 10px;" fxLayout="row" >
        <button mat-button color="primary" style="height: 100%" (click)="doQuery()" aria-label="Match query triples"><mat-icon>plagiarism</mat-icon>Query</button>
        <form [formGroup]="formQuery" style="width: 100%; min-width: 400px; max-width: 800px">
            <mat-form-field style="width: 100%" appearance="fill">
                <mat-label>Type query</mat-label>
                <textarea matInput formControlName="text" placeholder="ex) 새벽인력시장에 방문한 사람은 누구인가?"></textarea>
            </mat-form-field>
        </form>
    </mat-card-subtitle>
    <mat-card-content class="large" style="height: 40vh; margin: 10px; border: 2px solid black;">

        <div #qryVisContainer fxFill>
        </div>

    </mat-card-content>
    </mat-card>


    <mat-card class="news-card" [ngStyle.md]="{'min-width': '1000px'}">
    <mat-card-header fxLayout="row">
        <mat-card-title>Answers</mat-card-title>
        <button mat-button color="primary" style="height: 100%" (click)="doSearch()" aria-label="Search result triples"><mat-icon>plagiarism</mat-icon>Search</button>
    </mat-card-header>
    <mat-card-content class="large" style="height: 40vh; margin: 10px; border: 2px solid black;">

        <div #resultVisContainer fxFill>
        </div>

    </mat-card-content>
    </mat-card>


    <mat-card *ngIf="document" class="news-card" [ngStyle.md]="{'min-width': '1000px'}">
    <mat-card-header fxLayout="column">
        <mat-card-title>
            {{ document.title }}
        </mat-card-title>
        <mat-card-subtitle style="margin-bottom: 10px;">
            <span class="news-provider">{{ document.provider }}</span>
            <span class="news-cate">{{ document.category }}</span>
            <span class="news-wdate">{{ document.reporter }}</span>
            <span class="subtitle-spacer"></span>
            <span class="news-wdate">{{ document.wdate | date:'mediumDate' }}</span>
        </mat-card-subtitle>
        <p #content [innerHTML]="document.content" style="max-width: 1000px; margin: auto; font-size: small;"></p>
    </mat-card-header>
    <mat-card-content class="large" style="height: 60vh; margin: 10px; border: 2px solid black;">

        <!-- "margin: auto;" 없으면 canvas 위치가 틀려지게 된다 (그래프가 선 밖으로 움직임) -->
        <div mat-card-image #docsVisContainer style="height: 100%; width: 100%; margin: auto;">
        </div>

    </mat-card-content>
    </mat-card>

</div>
