<div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="10px">

    <mat-card class="news-card" [ngStyle.md]="{'min-width': '1000px'}">
    <!-- mat-card-header fxLayout="column">
        <mat-card-title>Query</mat-card-title>
    </mat-card-header -->
    <mat-card-subtitle style="margin-bottom: 10px;" fxLayout="row" >
        <button mat-button color="primary" style="height: 100%" (click)="doQuery()" aria-label="Match query to Quadruples"><mat-icon>plagiarism</mat-icon>Query</button>
        <form [formGroup]="formQuery" style="width: 100%; min-width: 400px; max-width: 800px">
            <mat-form-field style="width: 100%" appearance="fill">
                <mat-label>Type query</mat-label>
                <textarea matInput formControlName="text" placeholder="ex) 가정은 자녀의 양육비로 얼마를 지출하는가?"></textarea>
            </mat-form-field>
        </form>
    </mat-card-subtitle>
    <mat-card-content class="large" style="height: 20vh; margin: 10px; border: 2px solid black;">

        <div #qryVisContainer fxFill>
        </div>

    </mat-card-content>
    </mat-card>


    <mat-card class="news-card" [ngStyle.md]="{'min-width': '1000px'}">
    <mat-card-header fxLayout="row">
        <mat-card-title>Answers</mat-card-title>
        <button mat-button color="primary" style="height: 100%" (click)="doSearch()" aria-label="Search Quadruples"><mat-icon>plagiarism</mat-icon>Search</button>
    </mat-card-header>
    <mat-card-content class="large" style="height: 40vh; margin: 10px; border: 2px solid black;">

        <div #ansVisContainer fxFill>
        </div>

    </mat-card-content>
    <mat-card-footer fxLayout="row" style="margin: 10px;">

        <mat-form-field fxFill [style.fontSize]="10" appearance="fill">
            <mat-label>Results</mat-label>
            <textarea matInput readonly [(ngModel)]='ansResults'
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>

    </mat-card-footer>
    </mat-card>

</div>
