<div class="body-container">
<!--
  ** 템플릿 참고
  https://www.techiediaries.com/angular-material-navigation-toolbar-sidenav/
-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <span [routerLink]="'/'">SimpleCRM</span>
    <span class="example-spacer"></span>
    <!-- 상단 메뉴 : 데스크탑 전체 화면용 (모바일 전환시 감춰짐) -->
    <div fxShow="true" fxHide.lt-md="true">
      <a href="#" mat-button>
        <mat-icon>notifications</mat-icon>
        Notifications
      </a>
      <a mat-button [routerLink]="'/list'">
        <mat-icon>message</mat-icon>
        Messages
      </a>
      <a mat-button [routerLink]="'/register'">
        <mat-icon>account_box</mat-icon>
        My Account
      </a>
    </div>
  </mat-toolbar-row>
  <!-- mat-toolbar-row style="background-color: #512DA8;" -->  <!-- NOT WORKING: mat-color($primary) -->
  <mat-toolbar-row class="candy-carousel">
    <h2 class="toolbar-title">{{ current_title }}</h2>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container autosize>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item (click)="goToMenu('/docs')" [routerLink]="" routerLinkActive="list-item-active"> News List </a>
      <a mat-list-item (click)="sidenav.close()" [routerLink]="'/create-account'" routerLinkActive="list-item-active"> Create Account</a>
      <a mat-list-item (click)="sidenav.close()" [routerLink]="'/contacts'" routerLinkActive="list-item-active"> Contacts </a>
      <a mat-list-item (click)="sidenav.close()" [routerLink]="'/create-contact'" routerLinkActive="list-item-active"> Create Contact </a>
      <a mat-list-item (click)="sidenav.close()" [routerLink]="'/activities'" routerLinkActive="list-item-active"> Activities </a>
      <a mat-list-item (click)="sidenav.close()" [routerLink]="'/create-activity'" routerLinkActive="list-item-active"> Create Activity </a>
      <a mat-list-item (click)="sidenav.close()" href="">Close</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- div style="height: 88vh;" -->

      <router-outlet></router-outlet>

    <!-- /div -->
  </mat-sidenav-content>
</mat-sidenav-container>
</div>
