<div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="10px">

    <mat-card *ngIf="document" class="news-card">
    <mat-card-header fxLayout="column">
        <!-- div mat-card-avatar [ngStyle]="{'background': 'url(../assets/images/' + article.source.id + '.png)'}"
           class="example-header-image"></div -->
        <mat-card-title>
            {{ document.title }}
        </mat-card-title>
    </mat-card-header>
    <!-- img mat-card-image class="img-article" src="{{ article.urlToImage }}" alt="" -->
    <div class="news-subtitle">
        <span class="news-provider">{{ document.provider }}</span>
        <span class="news-cate">{{ document.category }}</span>
        <span class="subtitle-spacer"></span>
        <span class="news-wdate">{{ document.wdate | date:'mediumDate' }}</span>
    </div>
    <mat-card-content>
      <p #content [innerHTML]="document_content"></p>
    </mat-card-content>
    <!-- mat-card-actions class="action-buttons">
      <button mat-button><mat-icon>thumb_up_alt</mat-icon> NLP/NER(개체명)</button>
      <button mat-button><mat-icon>comment</mat-icon> 연관어(Node2Vec)</button>
      <button mat-button><mat-icon>share</mat-icon> 키워드트렌드</button>
    </mat-card-actions -->
    </mat-card>

    <mat-card *ngIf="sentences" class="news-card">
    <mat-card-header>
        <mat-card-title>요약 추출 (TextRank)</mat-card-title>
        <mat-card-subtitle>
            Sentence Seq = {{ sentenceList.selectedOptions.selected[0] ? sentenceList.selectedOptions.selected[0]?.value[2]+1 : '' }}, &nbsp;
            Rank = {{ sentenceList.selectedOptions.selected[0] ? sentenceList.selectedOptions.selected[0]?.value[0]+1 : '' }}, &nbsp;
            Score = {{ sentenceList.selectedOptions.selected[0]?.value[1] }}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-selection-list #sentenceList [multiple]="false">
            <mat-list-option *ngFor="let sentence of sentences; index as i;" [value]="sentence" (click)="highlight(sentence[3])">
                <p><span class="news-provider">[{{ sentence[1] }}]</span> &nbsp; {{sentence[3]}}</p>
            </mat-list-option>
        </mat-selection-list>
    </mat-card-content>
    </mat-card>

</div>
