<div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="10px">

    <mat-card *ngIf="document" class="news-card">
    <mat-card-header fxLayout="column">
        <!-- div mat-card-avatar [ngStyle]="{'background': 'url(../assets/images/' + article.source.id + '.png)'}"
           class="example-header-image"></div -->
        <mat-card-title>
            {{ document.title }}
        </mat-card-title>
    </mat-card-header>
    <!-- img mat-card-image class="img-article" src="{{ article.urlToImage }}" alt="" -->
    <div class="news-subtitle">
        <span class="news-provider">{{ document.provider }}</span>
        <span class="news-cate">{{ document.cate1 }}/{{ document.cate2 }}</span>
        <span class="subtitle-spacer"></span>
        <span class="news-wdate">{{ document.wdate | date:'mediumDate' }}</span>
    </div>
    <mat-card-content>
      <p #content [innerHTML]="document_content"></p>
    </mat-card-content>
    <!-- mat-card-actions class="action-buttons">
      <button mat-button><mat-icon>thumb_up_alt</mat-icon> NLP/NER(개체명)</button>
      <button mat-button><mat-icon>comment</mat-icon> 연관어(Node2Vec)</button>
      <button mat-button><mat-icon>share</mat-icon> 키워드트렌드</button>
    </mat-card-actions -->
    </mat-card>

</div>
