<h1 mat-dialog-title>Entity samples</h1>
<div mat-dialog-content>
    <mat-accordion style="padding-top: 5px; padding-bottom: 5px;">
        <mat-expansion-panel *ngFor="let nouns of data | keyvalue"
                style="margin-bottom: 5px"
                (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title> {{ nouns.key }} ({{ nouns.value.length }}) </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-chip-list aria-label="Fish selection">
                <mat-chip *ngFor="let noun of nouns.value; index as i" (click)="selectNoun(nouns.key, noun[0])">
                    {{ noun[0] }}
                </mat-chip>
            </mat-chip-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>
