<!-- div id="mynetwork" class="canvas-container"></div -->
<!-- div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px"
        [style.margin-right]="'12px'" [style.margin-left]="'10px'">

    <div id="newMain" fxFill="60">
        <div id="mainContent">
            <h1>Main Content</h1>
            <button class="toggler" ng-click="sidebarOut=!sidebarOut">Toggle sidebar</button>
        </div>
    </div>
    <div fxFill="40" class="sidebar md-padding">
        <h2>Sidebar</h2>
    </div>

</div -->

<mat-card class="card-demo" style="margin-bottom: 10px;">
    <mat-card-title>Word Graph ({{ apiSwitch ? "node2vec" : "word2vec" }})</mat-card-title>
    <mat-card-subtitle>
        <form [formGroup]="formWords" (ngSubmit)="onSubmit()" class="example-form">
            <div fxLayout="row" fxFlexFill fxLayout.lt-sm="column" fxLayoutGap="20px" style="padding-left: 10vw; padding-right: 10vw;">
                <mat-slide-toggle style="height: 50px;" fxFlex="10%" color="accent" labelPosition="before"
                    checked="true" (toggleChange)="changeApiMode()">API</mat-slide-toggle>
                <button mat-stroked-button (click)="openDialog()" fxFlex="10%" color="primary" style="height: 50px;">Vocab</button>
                <mat-form-field fxFlex="25%" color="accent">
                    <input matInput type="text" placeholder="positive words" formControlName="positives">
                </mat-form-field>
                <mat-form-field fxFlex="25%" color="accent">
                    <input matInput type="text" placeholder="negative words" formControlName="negatives">
                </mat-form-field>
                <mat-form-field fxFlex="10%" color="accent">
                    <input matInput type="number" step="0.05" placeholder="similarity" formControlName="threshold">
                </mat-form-field>
            </div>
        </form>
    </mat-card-subtitle>
    <mat-card-content class="large" style="height: 65vh; margin: 10px; border: 2px solid black;">

        <div #mainVisContainer fxLayout="column" fxFill>
        </div>

    </mat-card-content>
    <mat-card-footer class="bottomPad">
        <div class="hint"></div>
    </mat-card-footer>
</mat-card>

<mat-card class="card-demo">
    <mat-card-subtitle>Subgraphs <span>{{ messageOfSubGraph }}</span></mat-card-subtitle>
    <mat-card-content class="large" style="height: 20vh; margin: 10px; border: 2px solid black;">

        <div fxLayout="column" fxFill>
            <div #subVisContainers fxFlex fxLayoutGap="2px" fxFlex="100" fxLayoutAlign="center center">
                <!-- div *ngFor="let subg of subGraphs" fxLayout="row" fxFlex="20%" fxLayoutAlign="center center"
                        style="border: 1px solid black; height: 96%; margin-top: 2px; margin-bottom: 2px;">
                </div -->
                <div id="subVisContainer0" fxLayout="row" fxFlex="20%" fxLayoutAlign="center center"
                        style="border: 1px solid black; height: 96%; margin-top: 2px; margin-bottom: 2px;"
                        (click)="onClickSubG(0)">
                </div>
                <div id="subVisContainer1" fxLayout="row" fxFlex="20%" fxLayoutAlign="center center"
                        style="border: 1px solid black; height: 96%; margin-top: 2px; margin-bottom: 2px;"
                        (click)="onClickSubG(1)">
                </div>
                <div id="subVisContainer2" fxLayout="row" fxFlex="20%" fxLayoutAlign="center center"
                        style="border: 1px solid black; height: 96%; margin-top: 2px; margin-bottom: 2px;"
                        (click)="onClickSubG(2)">
                </div>
                <div id="subVisContainer3" fxLayout="row" fxFlex="20%" fxLayoutAlign="center center"
                        style="border: 1px solid black; height: 96%; margin-top: 2px; margin-bottom: 2px;"
                        (click)="onClickSubG(3)">
                </div>
                <div id="subVisContainer4" fxLayout="row" fxFlex="20%" fxLayoutAlign="center center"
                        style="border: 1px solid black; height: 96%; margin-top: 2px; margin-bottom: 2px;"
                        (click)="onClickSubG(4)">
                </div>
            </div>
        </div>

    </mat-card-content>
    <mat-card-footer class="bottomPad">
        <div class="hint"></div>
    </mat-card-footer>
</mat-card>
