.search-bar { background-color: #222; }
.search-bar * { color: white !important; }
.search-bar input { border-bottom-color: white; }
.md-errors-spacer { display:none; }

.canvas-container {
    width: 98vw;
    height: 76vh;
    margin-left: .6em;
    // background-color: blue;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.menu-spacer {
    flex: 1 1 auto;
}
