<!-- div ng-app="searchBarApp">
  <div ng-controller="searchCtrl as ctrl">
    <mat-toolbar>
      <div id="search-bar" ng-show="ctrl.showPreSearchBar()" class="md-toolbar-tools">

        <h2>Search Bar App</h2>
        <span flex></span>

        <mat-button ng-click="ctrl.initiateSearch()">
          <mat-icon>search</md-icon>
          <span>Search</span>
        </mat-button>

      </div>

      <div ng-show="ctrl.showSearchBar()" class="md-toolbar-tools search-bar">

        <md-button class="md-icon-button" ng-click="ctrl.submit()">
          <md-icon>search</md-icon>
        </md-button>

        <md-input-container flex>
          <input id="search-input" type="text" ng-model="search" />
        </md-input-container>

        <md-button class="md-icon-button" ng-click="ctrl.endSearch()">
          <md-icon>close</md-icon>
        </md-button>
      </div>

    </md-toolbar>
  </div>
</div -->

<div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="10px">
    <mat-toolbar fxLayout="row" fxLayoutAlign="space-around center" color="accent" style="margin-bottom: 3px">
        <div *ngIf="!showSearch" style="width: 100%">
            <button mat-stroked-button (click)="openDialog()">Open dialog</button>
            <span>&nbsp;  &nbsp;  &nbsp;</span>
            <h2 style="padding-right: 20px">search : &nbsp; "{{ pivot }}"</h2>
            <span fxFlex></span>
            <button mat-button (click)="searchToggle(true)" >
                <mat-icon>search</mat-icon>
                <span>Search</span>
            </button>
        </div>
        <div *ngIf="showSearch" style="width: 100%">
            <button mat-button class="md-icon-button" (click)="searchSubmit(searchStr)">
                <mat-icon>search</mat-icon>
            </button>
            <mat-form-field fxFlex>
                <input matInput id="search-input" type="text" [(ngModel)]="searchStr" />
            </mat-form-field>
            <button mat-icon-button (click)="searchToggle(false)" style="top: 20px">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <app-w2v-canvas #canvas class="canvas-container"
        *ngIf="graph" [graph]="graph" (userEvent)="receiveUserEvent($event)"
    ></app-w2v-canvas>
</div>
