.canvas-container {
    width: 98vw;
    height: 84vh;
    padding-left: .4em;
    // background-color: blue;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}
